html, body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
}

#welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	display: inline;
	transform: translate(-50%, -50%);
	font-size: 5vw;
	color: #EEE;
}
